###### Imports

In [3]:
import pandas as pd
import glob

In [12]:
pd.read_csv('../tennis_atp/atp_matches_1968.csv')

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1968-2029,Dublin,Grass,32,A,19680708,270,202866,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1968-2029,Dublin,Grass,32,A,19680708,271,126914,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1968-2029,Dublin,Grass,32,A,19680708,272,209523,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1968-2029,Dublin,Grass,32,A,19680708,273,100084,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1968-2029,Dublin,Grass,32,A,19680708,274,100132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3615,1968-9347,Reggio Calabria,Clay,64,A,19680429,262,109772,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3616,1968-9347,Reggio Calabria,Clay,64,A,19680429,261,100025,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3617,1968-9347,Reggio Calabria,Clay,64,A,19680429,260,100038,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3618,1968-9347,Reggio Calabria,Clay,64,A,19680429,259,100032,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3619,1968-9347,Reggio Calabria,Clay,64,A,19680429,258,202955,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
atp_matches = glob.glob('../tennis_atp/atp_matches*.csv')

In [37]:
atp_matches_regular = [file for file in list_of_files if len(file)== len('../tennis_atp/atp_matches_2019.csv')]
atp_matches_regular.sort()

['../tennis_atp/atp_matches_1968.csv',
 '../tennis_atp/atp_matches_1969.csv',
 '../tennis_atp/atp_matches_1970.csv',
 '../tennis_atp/atp_matches_1971.csv',
 '../tennis_atp/atp_matches_1972.csv',
 '../tennis_atp/atp_matches_1973.csv',
 '../tennis_atp/atp_matches_1974.csv',
 '../tennis_atp/atp_matches_1975.csv',
 '../tennis_atp/atp_matches_1976.csv',
 '../tennis_atp/atp_matches_1977.csv',
 '../tennis_atp/atp_matches_1978.csv',
 '../tennis_atp/atp_matches_1979.csv',
 '../tennis_atp/atp_matches_1980.csv',
 '../tennis_atp/atp_matches_1981.csv',
 '../tennis_atp/atp_matches_1982.csv',
 '../tennis_atp/atp_matches_1983.csv',
 '../tennis_atp/atp_matches_1984.csv',
 '../tennis_atp/atp_matches_1985.csv',
 '../tennis_atp/atp_matches_1986.csv',
 '../tennis_atp/atp_matches_1987.csv',
 '../tennis_atp/atp_matches_1988.csv',
 '../tennis_atp/atp_matches_1989.csv',
 '../tennis_atp/atp_matches_1990.csv',
 '../tennis_atp/atp_matches_1991.csv',
 '../tennis_atp/atp_matches_1992.csv',
 '../tennis_atp/atp_matches_1993.csv',
 '../tennis_atp/atp_matches_1994.csv',
 '../tennis_atp/atp_matches_1995.csv',
 '../tennis_atp/atp_matches_1996.csv',
 '../tennis_atp/atp_matches_1997.csv',
 '../tennis_atp/atp_matches_1998.csv',
 '../tennis_atp/atp_matches_1999.csv',
 '../tennis_atp/atp_matches_2000.csv',
 '../tennis_atp/atp_matches_2001.csv',
 '../tennis_atp/atp_matches_2002.csv',
 '../tennis_atp/atp_matches_2003.csv',
 '../tennis_atp/atp_matches_2004.csv',
 '../tennis_atp/atp_matches_2005.csv',
 '../tennis_atp/atp_matches_2006.csv',
 '../tennis_atp/atp_matches_2007.csv',
 '../tennis_atp/atp_matches_2008.csv',
 '../tennis_atp/atp_matches_2009.csv',
 '../tennis_atp/atp_matches_2010.csv',
 '../tennis_atp/atp_matches_2011.csv',
 '../tennis_atp/atp_matches_2012.csv',
 '../tennis_atp/atp_matches_2013.csv',
 '../tennis_atp/atp_matches_2014.csv',
 '../tennis_atp/atp_matches_2015.csv',
 '../tennis_atp/atp_matches_2016.csv',
 '../tennis_atp/atp_matches_2017.csv',
 '../tennis_atp/atp_matches_2018.csv',
 '../tennis_atp/atp_matches_2019.csv',
 '../tennis_atp/atp_matches_2020.csv',
 '../tennis_atp/atp_matches_2021.csv',
 '../tennis_atp/atp_matches_2022.csv']

In [35]:
sorted_atp