###### Imports

In [2]:
import pandas as pd
import glob

[data source](<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">Tennis databases, files, and algorithms</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.tennisabstract.com/" property="cc:attributionName" rel="cc:attributionURL">Jeff Sackmann / Tennis Abstract</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/JeffSackmann" rel="dct:source">https://github.com/JeffSackmann</a>)

Since the data license is non-commercial, this is a proof-of-concept project and cannot be immediately applied to commercial use.

In [3]:
matches_1968 = pd.read_csv('../tennis_atp/atp_matches_1968.csv')

In [4]:
atp_matches = glob.glob('../tennis_atp/atp_matches*.csv')

In [5]:
atp_matches_regular = [file for file in atp_matches if 
                       len(file)== len('../tennis_atp/atp_matches_2019.csv')]
atp_matches_regular.sort()

In [6]:
matches = pd.read_csv(atp_matches_regular[0])
for file in atp_matches_regular[1:]:
    matches = pd.concat([matches,pd.read_csv(file)])

In [11]:
players = pd.read_csv('../tennis_atp/atp_players.csv')

In [12]:
players

,player_id,name_first,name_last,hand,dob,ioc,height,wikidata_id
0,100001,Gardnar,Mulloy,R,19131122,USA,185.0,Q54544
1,100002,Pancho,Segura,R,19210620,ECU,168.0,Q54581
2,100003,Frank,Sedgman,R,19271002,AUS,180.0,Q962049
3,100004,Giuseppe,Merlo,R,19271011,ITA,NaN,Q1258752
4,100005,Richard,Gonzalez,R,19280509,USA,188.0,Q53554
...,...,...,...,...,...,...,...,...
56802,211770,Venedikt,Tsirikidze,U,NaN,RUS,NaN,NaN
56803,211771,Caelan,Potts,U,NaN,NZL,NaN,NaN
56804,211772,Tiago,Pires,U,NaN,FRA,NaN,NaN
56805,211773,Mohamed El Hafedh,Said,U,NaN,MRT,NaN,NaN
56806,211774,Ryotaro,Taguchi,U,NaN,JPN,NaN,NaN

In [13]:
players.isna().sum()

player_id          0
name_first       175
name_last         42
hand             243
dob            11863
ioc               54
height         54024
wikidata_id    51915
dtype: int64

In [7]:
matches.shape

(188167, 49)

In [9]:
matches.isna().sum()

tourney_id                 0
tourney_name               0
surface                 2317
draw_size                  0
tourney_level              0
tourney_date               0
match_num                  0
winner_id                  0
winner_seed           118457
winner_entry          171897
winner_name                0
winner_hand               16
winner_ht              16301
winner_ioc                10
winner_age              1489
loser_id                   0
loser_seed            152823
loser_entry           160439
loser_name                 0
loser_hand                62
loser_ht               28768
loser_ioc                 66
loser_age               5138
score                      8
best_of                    0
round                      0
minutes                98657
w_ace                  95948
w_df                   95949
w_svpt                 95949
w_1stIn                95949
w_1stWon               95949
w_2ndWon               95949
w_SvGms                95948
w_bpSaved              95949
w_bpFaced              95949
l_ace                  95949
l_df                   95948
l_svpt                 95949
l_1stIn                95949
l_1stWon               95949
l_2ndWon               95949
l_SvGms                95948
l_bpSaved              95949
l_bpFaced              95949
winner_rank            34912
winner_rank_points     82113
loser_rank             43244
loser_rank_points      83697
dtype: int64

All matches have a winner and loser id, which indicates that all the datapoints can be used for determining the elo ranking.

In [14]:
matches

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1968-2029,Dublin,Grass,32,A,19680708,270,202866,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1968-2029,Dublin,Grass,32,A,19680708,271,126914,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1968-2029,Dublin,Grass,32,A,19680708,272,209523,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1968-2029,Dublin,Grass,32,A,19680708,273,100084,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1968-2029,Dublin,Grass,32,A,19680708,274,100132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,NaN,...,68.0,42.0,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0
2912,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,NaN,...,56.0,40.0,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0
2913,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,NaN,...,54.0,29.0,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0
2914,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,NaN,...,39.0,24.0,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN
2915,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,NaN,...,34.0,24.0,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN